<nav class="navbar navbar-light bg-light pull-right">
  <form   class="container-fluid justify-content-start">
    <button class="btn btn-outline-success ml-2" routerLink="/home" type="button">Home</button>
    <button class="btn btn-outline-success ml-2" routerLink="/new" type="button">Order</button>
    <button class="btn btn-outline-success ml-2" routerLink="/create-order" type="button">Customer</button>
    <button class="btn btn-outline-success ml-2" routerLink="/trip-order"type="button">Driver</button>
    <button class="btn btn-outline-success ml-2" routerLink="/profile" type="button">Profile</button>
    <button class="btn btn-outline-success ml-2" (click)="onLogout()" value="Logout" type="button">Logout</button>
  </form>
</nav>
<hr>

