<div class="Padding">
  <nav class="navbar navbar-expand-lg navbar-light bg-light Nav-bar" style="background-color: white !important;">
    <div>
      <img class=" a.navbar-brand " style="width: 200px; height: 35px;" src="assets/img/logo.png" />
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link C" routerLink="" routerLinkActive="active C" [routerLinkActiveOptions]="{exact:true}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" routerLink="order-management" routerLinkActive="active">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" routerLink="driver-management" routerLinkActive="active">Driver Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" routerLink="vehicle-management" routerLinkActive="active">Vehicle Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" routerLink="user-management" routerLinkActive="active">User Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" routerLink="setting" routerLinkActive="active">Setting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link C" (click)="onLogout()" value="Logout" style="cursor: pointer">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br>
</div>
<router-outlet></router-outlet>


