<div class="Padding">
  <table class="table  table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pro of profileService.profiles">
        <td>{{pro.full_name}}</td>
        <td>{{pro.email}}</td>
        <td>{{pro.phone_number}}</td>
        <td>{{pro.city}}</td>
        <td>
            <a class="action-btn" routerLink="/edit-admin-profile/{{pro.id}}" (click)="onEdit(pro)">
              <i class="material-icons Edit">edit</i>
            </a>
            <a class="action-btn" (click)="onDelete(pro.id)">
              <i class="material-icons Delete">delete</i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
