<div class="container">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let pro of profileService.profiles">
        <td>{{pro.full_name}}</td>
        <td>{{pro.email}}</td>
        <td>{{pro.phone_number}}</td>
        <td>{{pro.city}}</td>
        <td>
            <a class="action-btn" routerLink="/edit-admin-profile" (click)="onEdit(pro)">
              <i class="material-icons">view</i>
            </a>
            <!-- <a class="action-btn" (click)="onDelete(pro.id,profileForm)">
              <i class="material-icons">delete</i>
            </a> -->
        </td>
      </tr>
  </table>
</div>
