<div class="container">
    <nav  class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start"  >
            <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="/trip-order" >Trip Order</button>
            <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="/available" >Available</button>
            <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="/history" >History</button>
            <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="/driver-profile" >Profile</button>
      </form>
    </nav>
</div>
<router-outlet></router-outlet>
