<div class = "Padding ">
  <nav class="navbar navbar-light bg-light Nav-bar">
    <form class="container-fluid">
      <div>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div >
        <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="dashboard/customer/create-order">Create Order</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="dashboard/customer/available-driver">Available Drivers</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="dashboard/customer/response">Response</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" routerLink="dashboard/customer/profile">Profile</button>
      </div>
    </form>
  </nav>
</div>
<br>
<router-outlet></router-outlet>
