<div class="container">
<nav  class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)" >
        <button class="btn btn-sm btn-outline-secondary ml-2" (click)="refreshOrderList()" >New</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" (click)="Pending(orderForm)" >Pending</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" (click)="Confirm(orderForm)" >Confirm</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" (click)="Complete(orderForm)">Complete</button>
        <button class="btn btn-sm btn-outline-secondary ml-2" (click)="Reject(orderForm)">Reject</button>
  </form>
</nav>
</div>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Pick Location</th>
        <th>Drop Location</th>
        <th>Pick Time</th>
        <th>Drop Time</th>
        <th>Response</th>
        <th>Customer Name</th>
        <th>Driver Name</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let ord of orderService.orders">
      <td>{{ord.pick_location}}</td>
      <td>{{ord.drop_location}}</td>
      <td>{{ord.pick_time}}</td>
      <td>{{ord.drop_time}}</td>
      <td>{{ord.response}}</td>
      <td>{{ord.customer_name}}</td>
      <td>{{ord.driver_name}}</td>
      <td >
          <a class="action-btn" routerLink="/edit-order/{{ord.id}}" (click)="onEdit(ord)">
            <i class="material-icons">View</i>
          </a>
          <!-- <a class="action-btn" (click)="onDelete(ord.id,orderForm)">
            <i class="material-icons">delete</i>
          </a> -->
      </td>
    </tr>
</table>
</div>

