<div class="Padding">
<table class="table  table-striped table-bordered table-sm">
    <thead>
      <tr style="text-align: center;">
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    <tr class="Row" *ngFor="let cus of customerService.customers">
      <td>{{cus.full_name}}</td>
      <td>{{cus.email}}</td>
      <td>{{cus.phone_number}}</td>
      <td>{{cus.city}}</td>
      <td>
          <a class="action-btn" routerLink="dashboard/customer/profile/{{cus.id}}" (click)="onEdit(cus)">
            <i class="material-icons Edit" style="" >edit</i>
          </a>
          <a class="action-btn"  (click)="onDelete(cus.id)">
            <i class="material-icons Delete">delete</i>
          </a>
      </td>
    </tr>
    </tbody>
</table>
</div>
