<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let cus of customerService.customers">
      <td>{{cus.full_name}}</td>
      <td>{{cus.email}}</td>
      <td>{{cus.phone_number}}</td>
      <td>{{cus.city}}</td>
      <td>
          <a class="action-btn" routerLink="/edit" (click)="onEdit(cus)">
            <i class="material-icons">view</i>
          </a>
          <!-- <a class="action-btn" (click)="onDelete(cus.customer_id,customerForm)">
            <i class="material-icons">delete</i>
          </a> -->
      </td>
    </tr>
</table>
</div>
