<div class="Padding">
  <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="orderService.selectedOrder.id">
    <div class="form-group">
      <label>Pick Location :</label>
      <input class="form-control" type="text" name="pick_location" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.pick_location" placeholder="">
    </div>
    <div class="form-group">
      <label>Drop Location :</label>
      <input class="form-control" type="text" name="drop_location" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.drop_location" placeholder="">
    </div>
    <div class="form-group">
      <label>Pick Time :</label>
      <input class="form-control" type="text" name="pick_time" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.pick_time" placeholder="">
    </div>
    <div class="form-group">
      <label>Drop Time :</label>
      <input class="form-control" type="text" name="drop_time" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.drop_time" placeholder="">
    </div>
    <div class="form-group">
      <label>Response :</label>
      <input class="form-control" type="text" name="response" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.response" placeholder="">
    </div>
    <div class="form-group">
      <label>Customer ID :</label>
      <input class="form-control" type="text" name="customer_id" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.customer_id" placeholder="">
    </div>
    <div class="form-group">
      <label>Driver ID :</label>
      <input class="form-control" type="text" name="driver_id" #name="ngModel"
        [(ngModel)]="orderService.selectedOrder.driver_id" placeholder="">
    </div>
    <div class="form-group">
      <button class="btn btn-success float-right ml-2" type="submit" [disabled]="!orderForm.valid">Submit</button>
      <button class="btn btn-danger float-right" type="button" (click)="resetForm(orderForm)">Reset</button>
    </div>
  </form>
</div>
