<hr>
<div>
  <img src="assets/img/logo.png" id="icon" alt="User Icon" />
</div>
<h2 style="color:rgb(110, 110, 223);">Taxi</h2>
<br><br>
<div>
  <img src="assets/img/car2.png" id="icon" />
</div>
<br>
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" placeholder="Username">
  <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password"
    required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Minimum 4 characters.</label>
  </div>
  <input type="submit" value="Sign In">
  <br><br><br><br><br>
</form>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>

