.Edit:hover {
  color: rgb(184, 184, 184);
}
.Edit {
  color: rgb(50, 139, 241);
}

.Delete:hover {
  color: rgb(184, 184, 184);
}

.Delete {
  color: rgb(247, 88, 88);
}

.Padding {
  padding-left: 33px;
  padding-right: 33px;
}

.Row:hover {
  background-color: rgb(177, 221, 194);
}

