<div  class="Padding Width justify-content-center align-items-center container" >
  <form (ngSubmit)="onSubmit(vehicleForm)"  #vehicleForm="ngForm" >
    <input  type="hidden" name="id" #id="ngModel" [(ngModel)]="vehicle.id">
    <div class="form-group">
    <label  class="Label">Vehicle Type :</label>
      <input  class="form-control Input" type="text" name="vehicle_type" #name="ngModel"
        [(ngModel)]="vehicle.vehicle_type" placeholder="">
    </div>
    <div class="form-group">
      <label class="Label">Base Distance :</label>
      <input class="form-control Input" type="text" name="base_distance" #name="ngModel"
        [(ngModel)]="vehicle.base_distance" placeholder="">
    </div>
    <div class="form-group">
      <label class="Label">Base Rate :</label>
      <input class="form-control Input" type="text" name="base_rate" #name="ngModel"
        [(ngModel)]="vehicle.base_rate" placeholder="">
    </div>
    <div class="form-group">
      <label class="Label">Rate Per km :</label>
      <input class="form-control Input" type="text" name="rate_per_km" #name="ngModel"
        [(ngModel)]="vehicle.rate_per_km" placeholder="">
    </div>
    <div class="form-group">
      <button class="btn btn-success float-right ml-2" type="submit" [disabled]="!vehicleForm.valid">Submit</button>
      <button class="btn btn-danger float-right" type="button" (click)="resetForm(vehicleForm)">Reset</button>
    </div>
  </form>
</div>
