<div class="Padding">
  <table class="table  table-striped table-bordered table-sm">
    <thead>
      <tr style="text-align: center;">
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Vehicle Type</th>
        <th>Vehicle Number</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr class="Row" *ngFor="let dri of driverService.drivers">
        <td>{{dri.full_name}}</td>
        <td>{{dri.email}}</td>
        <td>{{dri.phone_number}}</td>
        <td>{{dri.city}}</td>
        <td>{{dri.vehicle_type}}</td>
        <td>{{dri.vehicle_number}}</td>
        <td>
          <a class="action-btn" routerLink="/edit-driver-profile/{{dri.id}}" (click)="onEdit(dri)">
            <i class="material-icons Edit">edit</i>
          </a>
          <a class="action-btn" (click)="onDelete(dri.id)">
            <i class="material-icons Delete">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
