<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Vehicle Type</th>
        <th>Vehicle Number</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let dri of driverService.drivers">
      <td>{{dri.full_name}}</td>
      <td>{{dri.email}}</td>
      <td>{{dri.phone_number}}</td>
      <td>{{dri.city}}</td>
      <td>{{dri.vehicle_type}}</td>
      <td>{{dri.vehicle_number}}</td>
      <td >
          <a class="action-btn" routerLink="/edit-driver-profile/{{dri.id}}" (click)="onEdit(dri)">
            <i class="material-icons">edit</i>
          </a>
          <a  class="action-btn" (click)="onDelete(dri.id)">
            <i class="material-icons">delete</i>
          </a>
      </td>
    </tr>
  </table>
</div>

