<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #driverForm="ngForm" (ngSubmit)="onSubmit(driverForm)">
                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="driverService.selectedDriver.id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="full_name" #name="ngModel" [(ngModel)]="driverService.selectedDriver.full_name" placeholder="" required>
                    <label>Full Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="email" #name="ngModel" [(ngModel)]="driverService.selectedDriver.email" placeholder="">
                    <label>email :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="phone_number" #name="ngModel" [(ngModel)]="driverService.selectedDriver.phone_number" placeholder="">
                    <label>Phone Number :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="city" #name="ngModel" [(ngModel)]="driverService.selectedDriver.city" placeholder="">
                    <label>City :</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="vehicle_type" #name="ngModel" [(ngModel)]="driverService.selectedDriver.vehicle_type" placeholder="">
                      <label>vehicle Type :</label>
                    </div>
                  </div>
                <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="vehicle_number" #name="ngModel" [(ngModel)]="driverService.selectedDriver.vehicle_number" placeholder="">
                    <label>Vehicle Number :</label>
                </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="password" #name="ngModel" [(ngModel)]="driverService.selectedDriver.password" placeholder="">
                      <label>Password :</label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(driverForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!driverForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>City</th>
                        <th>Vehicle Type</th>
                        <th>Vehicle Number</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let dri of driverService.drivers">
                      <td>{{dri.full_name}}</td>
                      <td>{{dri.email}}</td>
                      <td>{{dri.phone_number}}</td>
                      <td>{{dri.city}}</td>
                      <td>{{dri.vehicle_type}}</td>
                      <td>{{dri.vehicle_number}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(dri)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(dri.id,driverForm)">
                            <i class="material-icons">delete</i>
                          </a>
                      </td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

